/* Write your CSS here */
.teamcardbgcontainer {
  background-color: #ffffff33;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
}
.teamcardimgpx {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}
.linksty {
  color: #fff;
  text-decoration: none;
}
